
#logo { position:fixed; bottom:2px; right:5px; height:605px; width:68px; background:url(../img/logo.png) no-repeat 0 0;}

#logo1 { position:fixed; bottom:2px; left:140px; height:655px; width:68px; background:url(../img/logo.png) no-repeat 0 0;}
